
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
    background:url('../../images/login/anucbg_big.png') no-repeat 0% 87% fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    text-align:center;
}
/*--header--*/
.header-w3l{
    margin: 2% auto;
}
.header-w3l h1 {
    font-size: 1.3em;
    letter-spacing: 6px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
/*--//header--*/

/*--main--*/
.main-agileits {
    margin: 2% auto;
    background:rgba(90, 98, 113, 0.41);
    width: 32%;
    font-family: 'Lato', sans-serif;
}
.sub-head {
    font-size: 17px;
    padding: 42px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.sub-main{
    position:relative;
}
/*--icons--*/
.icon1,.icon2,.icon3,.icon4,.icon5,.icon6{
    position: absolute;
    left: 51px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.83);
    width: 22px;
}
.icon1{
    top: 12px;
}
.icon2 {
    top: 75px;
}
.icon3 {
    top: 138px; 
}
.icon4 {
    top: 201px;
}
.icon5 {
    top: 264px;
}
.icon6 {
    top: 327px;
}
/*--//icons--*/

.sub-main input[type="text"],.sub-main input[type="password"]  {
    outline: none;
    font-size: 1em;
    margin: 4px 0px 18px 1px;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 68%;
    font-family: 'Lato', sans-serif;
}
.sub-main input[type="submit"] {
    color: white;
    background: olivedrab;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 2px;
    margin: 17px;
    font-family: 'Lato', sans-serif;
    cursor:pointer;
    text-transform:uppercase;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}
.sub-main input[type="submit"]:hover {
    background: #d9edf7;
    color: black;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}

/*--//main--*/

/*--footer--*/
.footer-w3  p {
    font-size: .5em;
    color: white;
}
.footer-w3  p a {
    color: #d20962;
}
.footer-w3  p a:hover {
    text-decoration:underline;
}
/*--//footer--*/

/*--Responsive--*/
@media(max-width:1440px){
    .main-agileits {
        width:35%;
    }
}
@media(max-width:1366px){
    .main-agileits {
        width:36%;
    }
}
@media(max-width:1280px){
    .main-agileits {
        width:40%;
    }
}
@media(max-width:1024px){
    .main-agileits {
        width:50%;
    }
}
@media(max-width:991px){
    .main-agileits {
        width:52%;
    }
}
@media(max-width:800px){
    .main-agileits {
        width:64%;
    }
}
@media (max-width: 768px){
    .main-agileits {
        width: 68%;
    }
}
@media (max-width: 736px){
    .main-agileits {
        width: 70%;
    }
    .header-w3l h1 {
        font-size: 1.5em;
        margin-top:10px;
    }
    .sub-head {
        font-size: 1.5em;
    }
}
@media (max-width: 667px){
    .main-agileits {
        width: 78%;
    }
    .header-w3l h1 {
        font-size: 1.5em;
    }
}
@media (max-width: 640px){
    .main-agileits {
        width: 80%;
    }
    .header-w3l h1 {
        letter-spacing: 5px;
    }
}
@media (max-width: 600px){
    .main-agileits {
        width: 84%;
    }
    .header-w3l h1 {
        letter-spacing: 4px;
    }
}
@media (max-width: 568px){
    .main-agileits {
        width: 88%;
    }
    .header-w3l h1 {
        font-size: 1.2em;
        letter-spacing: 3px;
    }
    .sub-head {
        padding: 36px;
    }
}
@media (max-width: 480px){
    .main-agileits {
        width: 92%;
    }
    .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
        left: 38px;
    }
    .header-w3l h1 {
        font-size: 1.4em;
        letter-spacing: 0px;
    }
    .sub-head {
        padding: 36px;
    }
    .footer-w3 p {
        font-size: .5em;
    }
    .footer-w3 {
        padding: 11px 0px 32px 0px;
    }
}

@media (max-width: 414px){
    body{
        font-size:1em;
    }
    .header-w3l h1 {
        font-size: .9em;
        letter-spacing: 3px;
    }
    .sub-head {
        font-size: .9em;
        margin-top: 10px;
    }
    .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
        left: 25px;
    }
    .footer-w3 {
        line-height: 23px;
    }
    .sub-main input[type="submit"] {
        padding: 14px 85px;
        margin: 0px;
        margin-top:10px;      
        margin-bottom:10px;

        font-size: .7em
    }
    .sub-head {
        padding: 18px 0 10px 0;
    }
    .sub-main input[type="text"] {
        font-size: .8em;
    }
    #login-register{
        font-size: .8em;
    }
    .sub-main{
        margin-bottom: 10vh;
    }
}


.sub-main input[type="email"], .sub-main input[type="password"] {
    outline: none;
    font-size: 1em;
    margin: 4px 0px 18px 1px;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 68%;
    font-family: 'Lato', sans-serif;
}

/*--//Responsive--*/

.logo{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

input.ng-invalid {
    border:solid;
    border-color: red;
    color:red;
}
input.ng-valid {
    background-color: white;
    color:rgba(0, 0, 0, 0.83);
}
#register,#login{
    position: absolute;
    right: 31.2%;
    margin-top: -25px;

}
.footer-w3{
    position:absolute;
    margin-top:450px;
    left:30%;
}
.reglog-link{
    position:fixed; 
    float:right;
    margin-left: 90%; 
    margin-top:1%; 
    color:white;
    font-size:14px;
}  
.footer-w3 p{
    font-size: 16px;
}
.help{
    display: block;
    color: #fea;
    float: left;
    position: absolute;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
@media (max-width: 991px){
    .main-agileits {
        width: 52%;
    }
    #register,#login{
        position: absolute;
        right:25%;

    }

}
@media (min-width: 1280px){
    .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
        left: 83px;
    }

}
@media (min-width: 1024px){
    .main-agileits {
        width: 38%;
    }
    #register,#login{
        position: absolute;
        right:32%;

    }
   .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    left: 52px;
}

}

@media (max-width: 768px){
    .reglog-link{
        position: relative;
        float: left;
        margin-left: 67%;
        margin-top: -7%;
        color: white;
        font-size: 13px;
    }   
    .header-w3l h1{
        margin-top:8%;
    }
    .footer-w3 p{
        font-size: 10px;
    }
       .help{
        display: none;
    }
      .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
        left: 31px;
    }
}
@media (max-width: 677px){
    .main-agileits {
        width: 52%;
    }
    #register,#login{
        position: absolute;
        right:25%;
        height: 357px;
    }
    .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
        left: 21px;
    }
    .footer-w3{
        position:absolute;
        margin-top:500px;
        left:14%;
    }
    body {
        background: url('../../images/login/anucbg_big.png') repeat 0% 87% fixed; 
    }
 
}
@media (max-width: 550px){
    .icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
        left: 25px;
    }
    #register,#login{
        position: absolute;
        right:0%;
        width:100%;

    }
    .footer-w3{
        position:absolute;
        margin-top:337px;
        left:0%;
    }
    #register-login{
        font-size: .8em;
    }
    .logo {
        margin-top: 6vh;
        margin-bottom: 8vh;
    }
}
@media (max-width: 667px){
    .reglog-link{
        position: relative;
        float: left;
        margin-left: 67%;
        margin-top: -7%;
        color: white;
        font-size: 13px;
    }   
    .header-w3l h1{
        margin-top:8%;
    }
    .footer-w3 p{
        font-size: 10px;
    }
}


#login-spinner{
    display:none;
}
#register{
    display: none;
}
